<!DOCTYPE html>
<html lang="pt-BR"> <!-- Se sua aplicação for em português -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sprint3</title>

    <link rel="stylesheet" asp-href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" asp-href="~/Sprint3.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Sprint3</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ComportamentoNegocios" asp-action="Index">Comportamento Negócios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DesempenhoFinanceiro" asp-action="Index">Desempenho Financeiro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TendenciasGastos" asp-action="Index">Tendência de Gastos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Sprint3 - <a asp-area="" asp-controller="Home" asp-action="RMs">RMs</a>
        </div>
    </footer>

    <script asp-src="~/lib/jquery/dist/jquery.min.js"></script>
    <script asp-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script asp-src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
