@model Sprint3.Models.ComportamentoNegocios

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ComportamentoNegocios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InteracoesPlataforma" class="control-label"></label>
                <input asp-for="InteracoesPlataforma" class="form-control" />
                <span asp-validation-for="InteracoesPlataforma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrequenciaUso" class="control-label"></label>
                <input asp-for="FrequenciaUso" class="form-control" />
                <span asp-validation-for="FrequenciaUso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feedback" class="control-label"></label>
                <input asp-for="Feedback" class="form-control" />
                <span asp-validation-for="Feedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsoRecursosEspecificos" class="control-label"></label>
                <input asp-for="UsoRecursosEspecificos" class="form-control" />
                <span asp-validation-for="UsoRecursosEspecificos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
