@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome to our Project Aspnet Core</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
<div class="jumbotron mt-4">
    <h1 class="display-4">Bem-vindo ao Hyper Reach!</h1>
    <p class="lead">Esta é a página de boas-vindas do seu projeto ASP.NET Core com Bootstrap.</p>
    <hr class="my-4">
    <p>Use este modelo como ponto de partida para criar algo mais único.</p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("RMs", "Home")"  role="button">Saiba mais</a>
</div>
