@*
    ViewBag.Title = "RMs Members";
*@

<div class="container mt-4">
    <h2>Membros do Grupo</h2>

    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">RM</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Gustavo Moreira</td>
                    <td>rm97999</td>
                </tr>
                <tr>
                    <td>Leonardo Yuuki</td>
                    <td>rm550373</td>
                </tr>
                <tr>
                    <td>Leonardo Blanco</td>
                    <td>rm99119</td>
                </tr>
                <tr>
                    <td>Paulo Henrique</td>
                    <td>rm98082</td>
                </tr>
                <tr>
                    <td>Daniel Soares</td>
                    <td>rm552184</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
